body {
    overflow-x: hidden;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Segoe UI';
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: 'Circe';
}
h1, .h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    @include mobile {
        font-size: 24px;
        line-height: 40px;
    }
}
h2, .h2 {
    font-size: 32px;
    line-height: 48px;
    @include mobile {
        font-size: 30px;
        line-height: 42px;
    }
}
h3, .h3 {
    font-size: 24px;
    line-height: 32px;
    @include mobile {
        font-weight: 20px;
        line-height: 28px;
    }
}
h4, .h4 {
    font-size: 18px;
    line-height: 22px;
}
.text-primary {
    color: $primary-color!important;
}
.text-secondary {
    color: $secondary-color!important;
}
.text-gray {
    color: $gray;
}
.caption {
    font-size: 12px;
}
.section {
    padding-top: 20px;
    padding-bottom: 20px;
    @include desktop {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &:first-child {
        padding-top: 40px;
        @include desktop {
            padding-top: 80px;
        }
    }
    &:last-child {
        padding-bottom: 40px;
        @include desktop {
            padding-bottom: 80px;
        }
    }
    &.no-pb {
        padding-bottom: 0;
    }
}
.container {
    @media screen and (min-width: 1600px) {
        max-width: 1542px;
    }
}
.maps {
    @include desktop {
        min-height: 396px;
    }
}
.video-block {
    max-height: 565px;
    @media screen and (max-width: 1400px) {
        max-height: 480px;
    }
    @include tablet {
        max-height: 360px;
    }
    @include mobile {
        max-height: 240px;
    }
}