.header {
    background-color: rgba(41, 52, 67, .24);
    display: flex;
    justify-content: space-between;
    max-height: 102px;
    position: relative;
    z-index: 1;
    &__right {
        display: flex;
        flex: 0 0 60%;
        justify-content: flex-end;
        align-items: center;
    }
    svg {
        max-width: 24px;
        max-height: 24px;
    }
}