section.section 
    .container 
        .row.chest-block
            .col-12.col-md-6 
                .h3.mb-4.text-secondary.mt-2 Аренда большого льда
                .text-gray.fs-16.mb-3 
                    | Подробное описание большого льда. 
                    br
                    | Стоимость часа в рублях в будние/рабочие дни. 
                    br
                    | Время работы.
                ul.marked-list.mb-4 
                    li.text-gray.fs-16 Характеристики
                    li.text-gray.fs-16 Характеристики
                    li.text-gray.fs-16 Характеристики
                .btn.btn-white-primary.btn-uppercase Забронировать площадку
            .col-12.col-md-6
                include ./services-slider.pug
                +services-slider('', '', 'assets/images/services-list/img-3.png')
