section.section 
    .container 
        h2.mb-4.text-uppercase.circle-bold Контакты
        .row 
            .col-12.col.md-6.col-lg-4
                .fs-16.fw-700.mb-2 г. Москва, ул. Авиаторов, 7а 
                .text-gray.mb-4 Наш адрес 
                .fs-16.fw-700.mb-2 +7 (495) 234 45-84
                .text-gray.mb-4 Телефон для связи
                .social-links
                    include ./social-links.pug
            .col-12.col.md-6.col-lg-8.js-maps.maps