section.section 
    .container 
        .row 
            .col-12.col.md-6.col-lg-4
                h2 Контакты
                div г. Москва, ул. Авиаторов, 7а 
                div Наш адрес 
                div +7 (495) 234 45-84
                div Телефон для связи
            .col-12.col.md-6.col-lg-8