section.section 
    .container 
        .row.mb-5.js-tabs.tabs
            .col-12.col.md-6.col-lg-4
                .tabs-nav.js-tabs-nav
                    .tabs-nav
                    .tabs-nav
                .tabs-content.js-tabs-content
                    .tabs-content__item(data-item="1")
                    .tabs-content__item(data-item="2")
                    
                
            .col-12.col.md-6.col-lg-8.js-maps.maps

        .row 
            .col-12.col.md-6.col-lg-4
                .fs-16.fw-700.mb-2 г. Москва, ул. Авиаторов, 7а 
                .text-gray.mb-5 Наш адрес 
                .fs-16.fw-700.mb-2 +7 (495) 234 45-84
                .text-gray.mb-5 Телефон для связи
            .col-12.col.md-6.col-lg-8.js-maps.maps