section.container-fluid.hero-section
    .container
        h1.text-white Многофункциональный комплекс
            br
            span.text-uppercase АРЕНА СОЛНЦЕВО
        .h3.text-white Текстовое описание для баннера
        a(href="#").mt-4.btn.btn-primary.btn-uppercase Подробнее