section.section 
    .container 
        .lead-block.d-flex 
            .col-12.col-md-7.col-lg-6
                .h3.mb-3 Запись в спортивную школу хоккея
                .text-gray.fs-16.mb-5 
                    | Вы можете записать ребёнка в группу набора. 
                    br.d-none.d-lg-block
                    | Мы всегда рады новым спортсменам! Возможно именно ваш ребёнок - будущее хоккея.
                .btn.btn-primary.btn-uppercase Записаться в школу
            .col-12.col-md-5.col-lg-6.d-none.d-md-flex
                img(src="assets/images/banner-img.png", alt="alt").img-fluid
        .note-block.text-gray.fs-16.mt-4 
            | Так же Вы можете задать любой вопрос по телефону 
            a(href="+74952344584").text-dark.text-bold +7 (495) 234 45-84