section.section
    .container 
        .h3.mb-4 Занятия будут проводиться в группах, разделенных по уровням подготовки:
        .row.levels-block.mb-3
            .col-12.col-md-6
                .levels-block__item 
                    .levels-block__item-img
                        svg 
                            use(xlink:href="assets/stack/sprite.svg#rocket-icon")
                    .levels-block__item-title.h4.text-uppercase Начальный
                    .levels-block__item-text.text-gray Развитие общей физической подготовки, становление на коньки, изучение основ игры в хоккей.
            .col-12.col-md-6
                .levels-block__item 
                    .levels-block__item-img
                        svg 
                            use(xlink:href="assets/stack/sprite.svg#diamond-icon")
                    .levels-block__item-title.h4.text-uppercase Карьера pro
                    .levels-block__item-text.text-gray Развитие навыков, повышение мастерства до уровня профессиональных игроков.
        .note-block.text-gray.fs-16
            | Независимо от группы, занятия у юных спортсменов будут вести 
            span.text-dark квалифицированные детские тренера по хоккею с многолетним стажем работы. 
            | Наши педагоги найдут общий язык с любым ребёнком, помогут ему влиться в коллектив, и, конечно же научат играть в хоккей на уровне профи.         