section.section
    .container
        h2.mb-4.text-uppercase.circle-bold Новости
        .row.services-list.js-news-slider
            .col-12.col-md-6.col-lg-4.services-list__item 
                a(href="/") 
                    img(src="assets/images/news/img-1.png", alt="").img-fluid
                .services-list__item-footer.mt-3
                    .caption.text-gray.mb-1 21 июля 2021
                    a(href="/").services-list__item-link Собянин осмотрел новый ледовый дворец в Солнцево
            .col-12.col-md-6.col-lg-4.services-list__item 
                a(href="/") 
                    img(src="assets/images/news/img-1.png", alt="").img-fluid
                .services-list__item-footer.mt-3
                    .caption.text-gray.mb-1 21 июля 2021
                    a(href="/").services-list__item-link Собянин осмотрел новый ледовый дворец в Солнцево
            .col-12.col-md-6.col-lg-4.services-list__item 
                a(href="/") 
                    img(src="assets/images/news/img-1.png", alt="").img-fluid
                .services-list__item-footer.mt-3
                    .caption.text-gray.mb-1 21 июля 2021
                    a(href="/").services-list__item-link Собянин осмотрел новый ледовый дворец в Солнцево
            .col-12.col-md-6.col-lg-4.services-list__item 
                a(href="/") 
                    img(src="assets/images/news/img-1.png", alt="").img-fluid
                .services-list__item-footer.mt-3
                    .caption.text-gray.mb-1 21 июля 2021
                    a(href="/").services-list__item-link Собянин осмотрел новый ледовый дворец в Солнцево
        .slick-arrows-block
            .slick-arrow.arrow-prev.js-news-arrow-prev
                svg 
                    use(xlink:href="assets/stack/sprite.svg#arrow")
            .slick-arrow.arrow-next.js-news-arrow-next
                svg 
                    use(xlink:href="assets/stack/sprite.svg#arrow")