section.section.no-pb
    .container
        h1.text-uppercase.mb-3 Школа
        h3.text-gray.mb-3 
            | Друзья, мы рады Вам сообщить, что в нашем ледовом дворце открывается набор детей в 
            span.text-dark спортивную школу по хоккею!
        .text-gray.fs-16 
            | Мы приглашаем 
            span.text-dark мальчиков и девочек в возрасте от 4-х лет 
            | попробовать себя в одном из самых захватывающих и зрелищных видов спорта. В последующем, ребята, показавшие лучшие результаты, будут отобраны в нашу хоккейную команду. 