section.section 
    .container 
        h3.mb-4 Почему именно хоккей? Что это даст ребёнку?
        .row 
            .col-12.col-md-6
                ul.marked-list
                    li.text-gray.fs-16 Крепкое здоровье
                    li.text-gray.fs-16 Гармоничное развитие
                    li.text-gray.fs-16 Дисциплина, воспитание характера и воля к победе
                    li.text-gray.fs-16 Умение работать в команде
                    li.text-gray.fs-16 Ответственность, трудолюбие
            .col-12.col-md-6
                ul.marked-list
                    li.text-gray.fs-16 Повышение уровня ОФП
                    li.text-gray.fs-16 Здоровый образ жизни
                    li.text-gray.fs-16 Развитие внимания и реакции
                    li.text-gray.fs-16 Новые друзья
                    li.text-gray.fs-16 Шанс стать профессиональным спортсменом