section.section 
    .container 
        .row.serices-list
            .col-12.col-md-6.col-xl-4.mb-3.services-list__item.--shadow
                a(href="/")
                    img(src="https://arena-solntsevo.ru/assets/redesign/assets/images/previews/photo-2022-02-10-23-31-59.jpg", alt="").img-fluid
                    .services-list__item-title.h4.text-uppercase Две ледовые арены (большая и малая)
            .col-12.col-md-6.col-xl-4.mb-3.services-list__item
                a(href="/")
                    img(src="assets/images/services-list/img-1.png", alt="").img-fluid
                    .services-list__item-title.h4.text-uppercase Две ледовые арены (большая и малая)
            .col-12.col-md-6.col-xl-4.mb-3.services-list__item
                a(href="/")
                    img(src="assets/images/services-list/img-1.png", alt="").img-fluid
                    .services-list__item-title.h4.text-uppercase Две ледовые арены (большая и малая)
            .col-12.col-md-6.col-xl-4.mb-3.services-list__item
                a(href="/")
                    img(src="assets/images/services-list/img-1.png", alt="").img-fluid
                    .services-list__item-title.h4.text-uppercase Две ледовые арены (большая и малая)
            .col-12.col-md-6.col-xl-4.mb-3.services-list__item
                a(href="/")
                    .services-list__item-title.h4.text-uppercase Две ледовые арены (большая и малая)