section.section.pt-0
    .container 
        .row.serices-list.services-list-empty-empty
            .col-12.col-md-6.col-lg-4.mb-3
                a(href="/").services-list-empty__item
                    .services-list-empty__item-title.h4.text-uppercase Большая ледовая арена
            .col-12.col-md-6.col-lg-4.mb-3
                a(href="/").services-list-empty__item
                    .services-list-empty__item-title.h4.text-uppercase Малая ледовая арена
            .col-12.col-md-6.col-lg-4.mb-3
                a(href="/").services-list-empty__item
                    .services-list-empty__item-title.h4.text-uppercase Зал хореографии
            .col-12.col-md-6.col-lg-4.mb-3
                a(href="/").services-list-empty__item
                    .services-list-empty__item-title.h4.text-uppercase Универсальный спортивный зал
            .col-12.col-md-6.col-lg-4.mb-3
                a(href="/").services-list-empty__item
                    .services-list-empty__item-title.h4.text-uppercase Хоккейный центр
            .col-12.col-md-6.col-lg-4.mb-3
                a(href="/").services-list-empty__item
                    .services-list-empty__item-title.h4.text-uppercase Игровой зал