section.section 
    .container
        h2.text-bold.mb-3 Почему ледовая арена «Солнцево» – лучшая?
        include ./services-slider.pug
        +services-slider('Современное оборудование', 'Каждый из объектов арены оснащен самым современным оборудованием, что позволяет не только заниматься в удовольствие, но и обеспечивает максимальную безопасность даже для самых маленьких спортсменов.', 'assets/images/services-list/img-2.png')