section.section 
    .container
        h2.text-bold.mb-3 Почему ледовая арена «Солнцево» – лучшая?
        .serices-list.position-relative.slick-no-margin.js-services-slider
            .js-services-slider-list
                .col-12.services-list__item.services-list__item--single
                    a(href="/")
                        img(src="assets/images/services-list/img-2.png", alt="").img-fluid
                        .services-list__item-title 
                            span.h4.text-uppercase.d-block Две ледовые арены (большая и малая)
                            span.mt-3.d-block Каждый из объектов арены оснащен самым современным оборудованием, что позволяет не только заниматься в удовольствие, но и обеспечивает максимальную безопасность даже для самых маленьких спортсменов.
                .col-12.services-list__item.services-list__item--single
                    a(href="/")
                        img(src="assets/images/services-list/img-2.png", alt="").img-fluid
                        .services-list__item-title.h4.text-uppercase Две ледовые арены (большая и малая)
                .col-12.services-list__item.services-list__item--single
                    a(href="/")
                        img(src="assets/images/services-list/img-2.png", alt="").img-fluid
                        .services-list__item-title.h4.text-uppercase Две ледовые арены (большая и малая)
            .slick-arrows-block.slick-arrows-block__center
                .slick-arrow.arrow-prev.js-services-arrow-prev
                    svg 
                        use(xlink:href="assets/stack/sprite.svg#arrow")
                .slick-arrow.arrow-next.js-services-arrow-next
                    svg 
                        use(xlink:href="assets/stack/sprite.svg#arrow")