section.section.no-pb
    .container
        h1.text-uppercase.mb-3 Услуги
        h3.text-gray.mb-3 Ледовый дворец "Солнцево" - это, в первую очередь, место, где куются чемпионы. Но это ещё и место, где можно отдохнуть всей семьей. 
        .text-gray.fs-16 
            span.text-dark.text-bold Мы предоставляем целый комплекс услуг, 
            | чтобы и спортсмены, и простые жители нашего города могли заняться тем, что им нравится с максимальным комфортом. 