a(href="#")
    svg 
        use(xlink:href="assets/stack/sprite.svg#vk-icon")
a(href="#")
    svg 
        use(xlink:href="assets/stack/sprite.svg#instagram-icon")
a(href="#")
    svg 
        use(xlink:href="assets/stack/sprite.svg#whatsapp-icon")