a(href="https://vk.com/la_solncevo" target="_blank")
    svg 
        use(xlink:href="assets/stack/sprite.svg#vk-icon")
a(href="https://www.instagram.com/la_solncevo/" target="_blank")
    svg 
        use(xlink:href="assets/stack/sprite.svg#instagram-icon")
a(href="https://wa.me/79153120988" target="_blank")
    svg 
        use(xlink:href="assets/stack/sprite.svg#whatsapp-icon")