section.section.no-pb
    .container 
        h2.h-caption.mb-3 Арена Солнцево — 
            span.text-secondary точка притяжения 
            span всех любителей льда и спорта.
        .row.mb-3
            .col-12.col-lg-6
                h4.text-gray.text-uppercase Ледовая Арена Солнцево — это не просто несколько ледовых площадок, это — современный спортивный комплекс, включающий в себя арены и залы для комфортного и продуктивного занятия спортом.
        iframe(width="100%" height="565px" src="https://www.youtube.com/embed/w7KeYJkQXNA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen).video-block