doctype html
html(lang="en")
    head
        block head
            include ./partials/head.pug
    body
        block header
            include ./partials/header.pug

        block main-content
            include ./pages/main.pug

        block footer
            include ./partials/footer.pug