doctype html
html(lang="en")
    head
        block head
            include ./partials/head.pug
    body
        block header
            include ./partials/header.pug
            +header('blur')

        block main-content
            include ./components/hero-block.pug
            include ./components/video-block.pug
            include ./components/services-list.pug
            include ./components/news-block.pug
            include ./components/contacts-block.pug

        block footer
            include ./partials/footer.pug