doctype html
html(lang="en")
    head
        block head
            include ./partials/head.pug
    body
        block header
            include ./partials/header.pug
            +header()

        block main-content
            include ./components/services-heading.pug
            include ./components/chest-block.pug

        block footer
            include ./partials/footer.pug