footer.footer 
    .container 
        a(href="#").footer__to-top.js-to-top 
            svg 
                use(xlink:href="assets/stack/sprite.svg#arrow-top")
        .footer__top
            a(href="#").footer__link Арена
            a(href="#").footer__link Школа
            a(href="#").footer__link Услуги
            a(href="#").footer__link Новости
            a(href="#").footer__link Контакты
        .footer__bottom 
            .footer__bottom-text © 2021 Ледовая арена Солнцево - Все права защищены.
            .footer__bottom-text Политика конфиденциальности

script(src="js/main.min.js")