header.header
    .header__logo
        img(src="", alt="")
    .header__social
        a(href="#").header__social-item 
        a(href="#").header__social-item 
        a(href="#").header__social-item
        a(href="tel:+74952344584").header__social-item.header__social-item--tel +7 (495) 234 45-84
    .header__action
    .header__menu