header.header
    img(src="assets/images/logo.png", alt="")
    .header__right
        .header__right-part
            a(href="#")
                svg 
                    use(xlink:href="assets/stack/sprite.svg#vk-icon")
            a(href="#")
                svg 
                    use(xlink:href="assets/stack/sprite.svg#instagram-icon")
            a(href="#")
                svg 
                    use(xlink:href="assets/stack/sprite.svg#whatsapp-icon")
        .header__right-part
            a(href="#").btn.btn-secondary.header__link Забронировать площадку 
        .header__right-part
            button.menu-btn
                svg
                    use(xlink:href="assets/stack/sprite.svg#burger-icon")